:root {
    --header-height: 120px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    /* margin: 0 auto; */
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-5 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-2-4 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-10 {
    position: relative;
    padding-top: 20px;
    width: 90%;
    height: 230px;
    margin-left: 80px;
}

.grid__column-11 {
    padding: 10px 5px 0 5px;
    width: 100%;
}

.grid__column-11-4 {
    position: relative;
    width: 100%;
    height: 8vh;
    padding-top: 15px;
}

.grid__column-11-8 {
    position: relative;
    width: 100%;
    top: 300px;
}

/* Mobile  */
@media only screen and (max-width: 46.1875em) {
    header.header {
        width: 190%;
    }

    .header__img-big {
        width: 190%;
    }

    .grid__column-10 {
        width: 150%;
    }

    .header__img-input {
        display: flex;
        left: 400px;
    }

    .header__img-search--btn::after {
        left: 235px;
        height: 30px;
    }

    .header__img-search--icon {
        padding: 5px;
    }

    .home__content {
        width: 190%;
    }

    .container1 {
        width: 185%;
    }

    .slider-wrapper1 {
        padding: 20px 0 0 40px;
    }

    .slider-wrapper1 .image-list1 .image-item1 {
        width: 210px;
        height: 25vh;
    }

    .slider-wrapper1 .slide-button#prev-slide {
        left: 0;
    }

    .slider-wrapper1 .slide-button#next-slide {
        right: -40px;
    }

    .wrapper3 {
        width: 170%;
        left: 55px;
        max-width: 170%;
    }

    .carousel3 .carouselimg3 {
        width: calc( 100% / 4.4);
        height: 25vh;
    }

    .wrappericon3:first-child {
        top: 250px;
    }

    .wrappericon3:last-child {
        top: 250px;
        right: -35px;
    }

    .grid__column-11-8 {
        top: 250px;
    }

    .home__panigation {
        width: 175%;
        top: 750px;
    }

    .home__news {
        width: 175%;
    }

    .home__news-header--item {
        padding: 0px 0px 0 60px;
    }

    .home__news-all {
        width: 180%;
    }

    .home__news-header--item-1 {
        padding: 0 0 0 15px;
    }

    .home__container-news {
        top: 750px;
    }

    .home__news-header--item-3 {
        padding-left: 105px;
    }

    .home__footer-image {
        width: 190%;
    }

    .home__footer {
        top: 760px;
    }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .header {
        width: 105%;
    }

    .header__img-big {
        width: 105%;
    }

    .grid__column-10 {
        margin-left: 50px;
    }

    .carousel img {
        width: calc(100% / 2.05);
    }

    .carousel1 .carouselimg {
        width: calc(100% / 4.4);
        height: 200px;
    }

    .grid__column-11-8 {
        top: 270px;
    }

    .wrapper3 {
        left: 90px;
    }

    .wrappericon2:first-child {
        top: 230px;
    }

    .wrappericon2:last-child {
        top: 230px;
    }

    .home__panigation {
        margin-left: 12%;
        top: 820px;
    }

    .home__container-news {
        top: 820px;
    }

    .home__news {
        width: 85%;
        display: flex;
    }

    .home__news-header--item {
        padding: 0 0 0 79px;
    }

    .home__news-header--list {
        padding-left: 75px;
    }

    .home__news-header--item-1 {
        padding-left: 0px;
    }

    .home__news-header--item-2 {
        padding-left: 0px;
    }

    .home__news-header--item-3 {
        padding-left: 20px;
    }

    .home__news-all {
        padding: 20px 0px 20px 20px;
    }

    .home__footer {
        top: 820px;
    }

    .home__footer-image {
        width: 94%;
    }

    .home__news-header--information {
        padding-left: 0px;
    }

    .slider-wrapper1 {
        padding: 20px 0 0 75px;
    }

    .slider-wrapper1 .slide-button#next-slide {
        right: -45px;
    }

    .carousel3 .carouselimg3 {
        width: calc(100% / 4.4);
        height: 25vh;
    }

    .wrappericon3:first-child {
        top: 285px;
    }

    .wrappericon3:last-child {
        top: 285px;
    }

    .slider-wrapper1 .image-list1 .image-item1 {
        width: 195px;
        height: 25vh;
    }

    .slider-wrapper1 .slide-button#prev-slide {
        left: 15px;
    }
}